.swiper {
  width: 100%;
  height:350px;
  /* border: 3px solid red; */
   position: relative;
}

.swiper-container {
  width: 100%;
  height: 500px;
  border: 3px solid rgb(157, 235, 12);

}

 
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-swiper_divs: center;
  /* border: 1px solid rgb(10, 90, 211); */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* border: 1px solid rgb(10, 90, 211); */

}
.swiper-slide img {
  /* display: block; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: 1px solid rgb(10, 90, 211); */

}
.sample-slider [class^="swiper-button-"] {
  color: #ffff00 !important;
  color: black;
}

.swiper-button-next {
  margin-top: 0px;
  position: absolute;
  top: 35%;
  right: 10px;
  width: 45px;
  height: 45px;
  color: #a12c30;
  padding: 10px;
  background-color: white;
  --swiper-navigation-size: 25px;
  font-weight: bold;
  border-radius: 50%;
  /* border: 2px solid #a12c30; */
  /* transform: translateY(-50%); */
}

.swiper-button-prev {
  margin-top: 0px;
  position: absolute;
  top: 35%;
  left: 10px;
  width: 45px;
  height: 45px;
  color: #a12c30;
  padding: 10px;
  background-color: white;
  --swiper-navigation-size: 25px;
  font-weight: bold;
  border-radius: 50%;
  /* border: 2px solid #a12c30; */
}
/* ................... blog slider............ */

.upcommingBlogContainer h2 {
  text-align: center;
}
.blogSlider {
  /* margin-top: -435px; */
  position: absolute;
  width: 100%;
  padding: 30px;
  margin: auto;
  top: 550px;
  left: 0;
  background-color: transparent;
}

.swiper-slide {
  background-color: transparent;
}

.swiper_div {
  background-image: url("../../../public/assests/service-item-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 20px;
  text-align: center;
  /* color: #fff; */
  height: 300px;
  /* border: 1px solid rgb(10, 90, 211); */

  padding: 40px;
  background-color: transparent;
}

.blogSlider .swiper-pagination-bullets {
  display: none;
}

.switper_img {
  border-radius: 50%;
}
.swiper_div .icon {
  max-width: 60px;
  margin: 0 auto;
}

.swiper_div > h4 {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
}

.swiper_div > p {
  color: #fff;
  font-size: 13px;
}
