.allUser_container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin: 100px auto;
  /* position: absolute; */
  width: 100%;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

h2 small {
  font-size: 0.5em;
}

.responsive-table li {
  border-radius: 3px;
  padding: 5px 10px 0  10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.responsive-table li:hover {
  background-color: #edecec;
}


.responsive-table .table-header {
  background-color: #95a5a6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding:20px;
  font-weight: bold;
}


.responsive-table .table-header:hover {
  background-color: #95a5a6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 1px 2px 2px 3px rgba(13, 13, 13, 0.1);
  /* border: 1px solid red; */
}



.responsive-table .col-2 {
  flex-basis: 25%;
  /* padding-top: 10px; */
}

.responsive-table .col-3 {
  flex-basis: 30%;
  /* padding-top: 10px; */
}

.userImg{
  width:80%;
  border-radius: 50%;
  height: 70%;
}
.responsive-table .col-4 {
  flex-basis: 23%;
}
.responsive-table .col-5 {
  flex-basis: 23%;
}
@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }

  .responsive-table li {
    display: block;
  }

  .responsive-table .col {
    flex-basis: 100%;
    display: flex;
    padding: 10px 0;
  }

  .responsive-table .col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}


@media screen and (max-width: 768px) {
  .responsive-table .table-row {
    /* Your styles for table-row on small screens */
    display: block;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #f5f5f5;
   
  }
  /* .userImg{
    width:100% !important;
    border-radius: 10px !important;
    height: 100% !important;
    justify-content: left;
  } */
  .responsive-table .table-row  li{
    background-color: #ffffff;
    box-shadow: 1px 2px 2px 3px rgba(13, 13, 13, 0.1);
    text-align: left;
    justify-content: left;
    /* border: 1px solid red; */
  }

  .responsive-table .col-2 {
    flex-basis: 100%;
  }

/* .col-3{
  flex: 0 0 auto;
  width: 100%;
} */

  .responsive-table .col-3 {
    flex-basis: 100%;
  }
  .responsive-table .col-1 {
    flex-basis: 100%;
  }

}
/* ... Search Box ..... */
.searchInput {
  position: relative;
  width: 20rem;
  /* background: #57bd84; */
  border-radius: .7rem;
  border: 1px solid gray;
  padding-left: 15px;

}

.search,
.searchBtn {
  height: 3.1rem;
  font-family: 'Lato', sans-serif;
  border: 0;
  color: #2f2f2f;
  font-size: 1.8rem;
  /* border: 1px solid red; */
}

.search {
  outline: 0;
  width: 100%;
  /* background: #bc0c0c; */
  /* padding: 0 .6rem; */
  font-size: 20px;
  border-radius: .7rem;
  appearance: none;
  transition: all .3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  /* z-index: 1; */
  /* margin-left: -50px; */
  position: relative;
}

.searchBtn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  font-weight: bold;
  background: #57bd84;
  border-radius: 0 .7rem .7rem 0;
  /* border: 1px solid red; */
}

.search:not(:placeholder-shown) {
  /* background: #bc0c0c; */
/* margin-left: -25px; */
  border-radius: .7rem 0 0 .7rem;
  width: calc(100% - (2rem));
}

.search:not(:placeholder-shown) + .searchBtn {
  display: block;
}



