

.link{
	color: white;
	text-decoration: none
}


  .link:hover {
    text-decoration: underline;
  }

  .navbtn{
	background: none;
  cursor: pointer;
  border: none;
  outline: none;  
  
  }

  @media (min-width: 769px) {
	.navbtn{
    display: none;
  }
}

.jfcxIr {
z-index: 1022;

}